@mixin borderRadius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

@mixin borderRadiusInd($tl, $tr, $br, $bl) {
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  -moz-border-radius-topleft: $tl;
  -moz-border-radius-topright: $tr;
  -moz-border-radius-bottomright: $br;
  -moz-border-radius-bottomleft: $bl;
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -moz-transform:    rotate($deg);
  -ms-transform:     rotate($deg);
  -o-transform:      rotate($deg);
}

@mixin opacity($opacity) {
  filter: alpha(opacity=$opacity);
  opacity: $opacity / 100;
}

@mixin dropshadow($x, $y, $blur, $clr) {
  -moz-box-shadow:    $x $y $blur $clr;
  -webkit-box-shadow: $x $y $blur $clr;
  box-shadow:         $x $y $blur $clr;
}

@mixin dropshadowInset($x, $y, $blur, $clr) {
  -moz-box-shadow:    inset $x $y $blur $clr;
  -webkit-box-shadow: inset $x $y $blur $clr;
  box-shadow:         inset $x $y $blur $clr;
}

@mixin responsiveType($fontSize) {
  $baseFontSize: 16 !default;
  font-size: $fontSize + "px";
  font-size: ($fontSize/$baseFontSize) + "rem";
}

@mixin linearGradient($topColor, $bottomColor) {
  background: $topColor;
  background: -moz-linear-gradient(top,  $topColor 0%, $bottomColor 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$topColor), color-stop(100%,$bottomColor));
  background: -webkit-linear-gradient(top, $topColor 0%, $bottomColor 100%);
  background: -o-linear-gradient(top, $topColor 0%, $bottomColor 100%);
  background: -ms-linear-gradient(top, $topColor 0%, $bottomColor 100%);
  background: linear-gradient(to bottom, $topColor 0%, $bottomColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$topColor}', endColorstr='#{$bottomColor}',GradientType=0 );
}

@mixin menuArrow ($height, $position, $color) {
  content: '';
  position: absolute;
  left: $position;
  top: -#{$height}px;
  border-left: $height solid transparent;
  border-right: $height solid transparent;
  border-bottom: $height solid $color;
}