@import "resets";
@import "mixins";

$blue: #3A7BBF;
$dkBlue: #125181;
$ltGrey: #D4D4D4;
$grey: #B3B9BD;
$dkGrey: #5A7385;

$sansSerif: "franklin-gothic-urw-1","franklin-gothic-urw-2", Helvetica Neue, Helvetica, Arial, Sans-serif;
$serif: "ff-tisa-web-pro-1","ff-tisa-web-pro-2", Times New Roman, Times, Serif;

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding: 0 13px;
  position: relative;
}

.site-header {
  border-top: 6px solid $blue;
  border-bottom: 1px solid $ltGrey;
  width: 100%;
}

.logo-link {
  width: 4.125em; /* 66 / 16 */
  height: 4.0625em; /* 65 / 16 */
  display: inline-block;
  position: relative;
  margin: 23px 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.site-nav {
  display: inline-block;
  position: relative;
  float: right;
  font-family: $sansSerif;
  font-weight: bold;
  top: 59px;
  @include responsiveType(16);

  li {
    display: inline-block;
    margin: 0 0 0 1.875em; /* 30 / 16 */

    a {
      color: $dkGrey;
      display: block;
      padding: 10px 0 23px 0
    }

    .current {
      color: $blue;
      border-bottom: 1px solid $blue;
    }
  }
}