%section{ :class => 'home--featured-content' }
  .featured-content--container
    %h1 article

%section{ :class => 'home--featured-content' }
  .featured-content--container
    %h1 work

%section{ :class => 'home--featured-content' }
  .featured-content--container
    %h1 about me
