%h1 Create an admin account

%form{ :method => 'POST', :action => '/admin/register', :class => 'form' }
  %label{ :for => 'first_name' } First Name
  %input{ :type => 'text', :name => 'first_name', :placeholder => 'First name', :requird => true }/
  %label{ :for => 'last_name' } Last Name
  %input{ :type => 'text', :name => 'last_name', :placeholder => 'Last name', :required => true }/
  %label{ :for => 'email' } Email address
  %input{ :type => 'email', :name => 'email', :placeholder => 'foo@bar.qux' }/
  %label{ :for => 'password' } Password
  %input{ :type => 'password', :name => 'password', :placeholder => 'password' }/
  %label{ :for => 'password_confirmation' } Confirm password
  %input{ :type => 'password', :name => 'password_confirmation', :placeholder => 'password' }/
  %button{ :type => 'submit', :class => 'btn' } Create admin account