<footer class="footer site-constraint text--xs">
	<span class="text--darker">© {{ now.Format "2006" }} Mike Engel</span>
	<a rel="noreferrer" href="https://github.com/mike-engel" target="_blank">GitHub</a>
	<a rel="noreferrer" href="https://twitter.com/beardfury" target="_blank">Twitter</a>
	<a rel="noreferrer" href="https://www.linkedin.com/in/beardfury" target="_blank">LinkedIn</a>
	<a rel="noreferrer" href="https://www.instagram.com/vegemike" target="_blank">Instagram</a>
	<a rel="noreferrer" href="https://mike-engel.com/index.xml" target="_blank">RSS feed</a>
</footer>
