{{ define "title" }}
	{{ .Title }} / Mike Engel
{{ end }}
{{ define "main" }}
	<main class="site-constraint">
		{{ .Content }}
		<ul class="plain-list gallery">
		{{ range .Pages.GroupByDate "2006" }}
			<li class="gallery__year">
				<h2>{{ .Key }}</h2>
				<ul class="plain-list gallery__photos">
					{{ range .Pages.ByDate }}
						<li class="gallery__photo">
							<a class="hidden-link" href="{{ .Permalink }}">
								<img src="https://res.cloudinary.com/beardfury/image/upload/c_fill,dpr_2.0,fl_force_strip.progressive,g_faces,h_160,q_auto:good,w_200/v1444865801/{{ .Params.cloudinary_url }}" alt="{{ .Params.description }}" />
							</a>
						</li>
					{{ end }}
				</ul>
			</li>
		{{ end }}
		</ul>
	</main>
{{ end }}
