.resume {
    --gap: 1.5em;
    --bg: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMiIgaGVpZ2h0PSIyIiB2aWV3Qm94PSIwIDAgMiAyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIyIiBmaWxsPSJ3aGl0ZSIvPgo8Y2lyY2xlIGN4PSIwLjUiIGN5PSIwLjUiIHI9IjAuNSIgZmlsbD0iI0NGRTFFRSIvPgo8L3N2Zz4K")
        0 0 / 2px 2px repeat;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "content content sidebar";
    row-gap: var(--gap);
    line-height: 1.4;

    & > header {
        grid-area: header;
        break-after: avoid;
    }

    & > section {
        grid-area: content;
        padding-right: var(--gap);
        break-before: avoid;
    }

    & > aside {
        grid-area: sidebar;
        background: var(--bg);
        padding: var(--gap);
        overflow: hidden;
    }

    ul:not(.plain-list) {
        list-style: disc;
    }

    h1 {
        margin: 0 0;
        break-after: avoid;
    }

    h3 {
        margin-bottom: 0.25em;
    }

    .logo,
    .resume-meta {
        display: inline-block;
        vertical-align: top;
    }

    .logo {
        display: none;
        width: auto;
        height: 50px;
        margin-right: 1.7em;
        fill: var(--foreground);
    }

    .resume-header {
        padding-top: 1px;
    }

    .resume-meta {
        margin: 0;

        li {
            font-size: 0.777778rem;
            line-height: 1.4;
        }

        li + li {
            margin-top: 0.2em;
        }
    }

    .resume-summary {
        font-size: 1rem;
        margin: 0 0 0.5em 0;
        font-weight: 500;
        max-width: 40em;
        line-height: 1.4;
        border-left: 4px solid var(--accent);
        padding: 1em;
        background: var(--bg);
        overflow: hidden;
    }

    .resume-summary ~ h2 {
        margin: 1em 0 0.5em 0;
    }

    .resume-experience > li + li,
    .resume-education > li + li {
        margin-top: 2em;
    }

    .resume-experience h3,
    .resume-education h3 {
        margin: 0 0 0.2em 0;
    }

    .resume-experience p,
    .resume-education p {
        margin: 0;
    }

    .links {
        margin-top: 1em;
    }

    h3 + p {
        margin-top: 0;
    }

    .hide-from-screen {
        display: none;

        @media (print) {
            display: initial;
        }
    }
}

@media print {
    @page {
        margin: 10mm;
    }

    body > header {
        display: none;
    }

    html,
    body {
        font-size: 10pt !important;
    }

    body {
        line-height: 1.2;
    }

    .site-constraint {
        width: 100% !important;
    }

    footer {
        display: none !important;
    }

    .back-button {
        display: none !important;
    }

    h2,
    h3 {
        padding: 0 !important;
    }

    h2 {
        font-size: 1.25rem;
        margin-top: 1em !important;
        margin-bottom: 0em !important;
    }

    h3 {
        font-size: 1rem;
        margin-top: 0.5em !important;
    }

    p {
        line-height: 1.3;
    }

    p + p {
        margin: 1em 0;
    }

    a {
        border: none;
    }

    h2 > * {
        margin-bottom: 1em;
    }

    h2 + h3 {
        margin-top: 0;
    }

    h3 + p {
        margin-bottom: 0.5em;
    }

    li,
    p,
    .resume-summary {
        max-width: unset !important;
        line-height: 1.3 !important;
    }

    .resume {
        --gap: 7mm;
        display: inline-grid;
    }

    .logo {
        display: initial !important;
        height: 35px !important;
        margin-right: 1em !important;
    }

    .resume-meta li:first-child {
        font-weight: bold;
        font-size: 1rem;
    }

    .resume-summary {
        margin-bottom: 0 !important;
    }

    .resume-experience li + li,
    .resume-education li + li {
        margin-top: 1em !important;
    }

    .resume-experience,
    .resume-education {
        margin-top: 0.5em !important;
    }

    ul:not(.plain-list) {
        margin: 0.25em 0 0 1em !important;

        li + li {
            margin-top: 0 !important;
        }
    }

    .hide-from-print {
        display: none;
    }

    .hide-from-screen {
        display: initial;
    }
}
