{{ define "main" }}
	<main class="site-constraint resume">
		<header class="resume-header">
			<svg
				class="logo"
				width="46px"
				height="50px"
				viewBox="0 0 46 50"
				version="1.1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
			>
				<path d="M0,9.26966292 L0,50 L12,44.9438202 L12,0 L0,9.26966292 Z M46,9.26966292 L46,50 L34,44.9438202 L34,0 L46,9.26966292 Z M12,0 L12,19.1964286 L23,33.59375 L23,14.9619223 L12,0 Z M34,0 L34,19.1964286 L23,33.59375 L23,14.9619223 L34,0 Z"></path>
			</svg>
			<ul class="plain-list resume-meta">
				<li>Mike Engel</li>
				<li>mike@mike-engel.com</li>
				<li>United States</li>
				<li>English (Native), German (A2)</li>
				<li class="hide-from-screen">
					<a href="https://mike-engel.com">mike-engel.com</a>
				</li>
				<li>
					<a href="https://github.com/mike-engel">
						github.com/mike-engel
					</a>
				</li>
			</ul>
		</header>
		<h1 class="h3 resume-summary">
			Developer and designer with over 7 years of experience designing,
			developing, and shipping websites and web apps to production. Passionate
			and focused on creating experiences informed by user research and
			feedback which work for everyone regardless of ability or device.
			Successfully leading teams to create new products and update existing
			ones in collaboration with design, operations, project management, and
			other stakeholders.
		</h1>
		<h2 id="experience">
			Experience
		</h2>
		<ul class="plain-list resume-experience">
			<li>
				<h3>Consulting / Self development</h3>
				<p class="h5 text--darker">
					Current | Boulder, CO, USA
				</p>
				<ul>
					<li>
						Designing, architecting, and developing a financial web app which
						gives users a better view into their cash flow across multiple
						accounts. More information available upon request.
					</li>
					<li>
						Worked with several clients to plan and execute on changing
						customer priorities and site redesigns.
					</li>
					<li>
						Creating and maintaining open source projects
						(<a href="https://github.com/mike-engel/styled-typography" target="_blank" rel="noopener noreferrer">styled-typography</a>,
						<a href="https://github.com/mike-engel/a11y-css-reset" target="_blank" rel="noopener noreferrer">a11y-css-reset</a>,
						<a href="https://github.com/mike-engel/now-importer" target="_blank" rel="noopener noreferrer">now-importer</a>,
						<a href="https://github.com/mike-engel/gistcard" target="_blank" rel="noopener noreferrer">gistcard</a>,
						<a href="https://github.com/mike-engel/jwt-cli" target="_blank" rel="noopener noreferrer">jwt-cli</a>), and managing new issues and PRs
					</li>
					<li>
						Experimenting with new languages and technologies to evaluate the
						problems they solve and continue learning new concepts and ideas
					</li>
				</ul>
			</li>
			<li>
				<h3>Unself</h3>
				<p class="h5">Senior developer / Acting engineering manager</p>
				<p class="h5 text--darker">
					July 2017 &ndash; December 2018 | Boulder, CO, USA
				</p>
				<ul>
					<li>
						Took on the role of Engineering Manager to better manage
						individual team members and the entire team’s interaction with the
						rest of the company
					</li>
					<li>
						Led a small team of 5 full-stack developers creating a
						<a href="https://unself.com" target="_blank" rel="noopener noreferrer">mobile-first web app</a>
						for volunteers to track their hours and organizations to track who
						volunteers and how much to receive grants and other support
					</li>
					<li>
						Spearheaded an app-wide visual redesign, collaborating closely
						with design, product management
					</li>
					<li>
						Successfully gathered consensus and mentored the team on
						functional programming, better testing practices (simplifying
						tests, removing redundant tests, etc), type safety, and several
						technologies to improve quality of life
					</li>
				</ul>
			</li>
			<li>
				<h3>Welltok</h3>
				<p class="h5">Lead software engineer / Team lead</p>
				<p class="h5 text--darker">
					November 2015 &ndash; July 2017 | Denver, CO, USA
				</p>
				<ul>
					<li>
						Led a team of 8 developers responsible for creating a new
						lightweight, node.js service with functional programming in mind
					</li>
					<li>
						Mentored junior front end engineers to get them up to speed, more
						productive, and progress their careers
					</li>
					<li>
						Co-founded the front end working group in an effort to stabilize,
						document, and standardize a front end tech stack that was
						outdated, complicated, and hard to develop with
					</li>
					<li>
						Worked with other senior front end engineers to research and
						implement better documentation, testing practices, and tooling
					</li>
				</ul>
			</li>
			<li>
				<h3>Datu Health</h3>
				<p class="h5">UX engineer</p>
				<p class="h5 text--darker">
					November 2013 &ndash; October 2015 | Boulder, CO, USA
				</p>
				<ul>
					<li>
						Created and iteratively improved interactive prototypes used
						during product discovery, user research, and implementation to
						improve communication between developers, designers, clients, and
						other stakeholders
					</li>
					<li>
						Created an authenticated web site for publicly viewing and
						presenting fully coded prototypes to clients, design, development,
						and leadership
					</li>
					<li>
						Led the development of a front end library for sharing pixel
						perfect CSS and modular JavaScript with the development team
					</li>
				</ul>
			</li>
			<li>
				<h3>IHS Markit (prev. Markit on Demand)</h3>
				<p class="h5">Interface designer</p>
				<p class="h5 text--darker">
					May 2011 &ndash; November 2013, Boulder, CO, USA
				</p>
				<ul>
					<li>
						Worked with large international financial and energy companies to
						design financial portfolios, social communities, games, and
						trading platforms
					</li>
					<li>
						Created designs that were localized and designed to work in at
						least three different languages
					</li>
					<li>
						Dedicated spare time to lead a group of other designers interested
						in creating and exploring dynamic data visualizations from live
						and historical data
					</li>
				</ul>
			</li>
		</ul>
		<h2 id="skills">
			Skills
		</h2>
		<h3>Front end</h3>
		<p>
			HTML & Semantic markup, CSS, JavaScript, Typescript, CSS-in-JS, React,
			Accessibility, Redux, GraphQL, Progressive Web Apps, Next.js, Gatsby,
			Flexbox, Grid, Performance, Animation, Functional programming, Vue,
			Less, Sass, Webpack, and Web Assembly
		</p>
		<h3>Back end</h3>
		<p>
			Node.js, Express.js, Twelve factor app, Next.js, GraphQL, API design,
			REST, Schema design, Rust, Swift, SQL (PostgreSQL, MySQL), and NoSQL
			(RethinkDB, MongoDB)
		</p>
		<h3>Design</h3>
		<p>
			Information Architecture, UX design, User research, Typography &
			typesetting, Prototyping, UI design, Figma, Sketch, Photoshop,
			Illustrator, and Indesign
		</p>
		<h3>Leadership</h3>
		<p>
			Technical guidance, Mentoring, One on ones, Inter-team collaboration,
			Workload management, Career growth, and Work-life balance
		</p>
		<h3>Miscellaneous</h3>
		<p>
			Git, Unit & Integration testing, Kubernetes, Functional programming,
			Docker, Pair programming, CI/CD, Automation, Agile, XP, and
			Authentication & Authorization
		</p>
		<h3>Interested in</h3>
		<p>
			Elixir/Erlang, Distributed systems, Operations, Machine learning,
			Cyptography, Management
		</p>
		<h2 id="education">
			Education
		</h2>
		<ul class="plain-list resume-education">
			<li>
				<h3>Rocky Mountain College of Art + Design</h3>
				<p class="h5 text--darker">
					August 2008 &ndash; August 2011
				</p>
				<p>
					Bachelor of Fine Arts, Communications Design, Summa Cum Laude
				</p>
			</li>
		</ul>
	</main>
{{ end }}
