<footer class="site-footer site-constraint">
  <span class="text-tiny">&copy; <%= (new Date()).getFullYear() %> Mike Engel</span>
  <a href="https://twitter.com/beardfury" class="text-tiny">twitter</a>
  <a href="https://www.linkedin.com/in/beardfury" class="text-tiny">linkedin</a>
</footer>
<script src="https://use.typekit.net/uma3wew.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="/lib/js/main.js"></script>
<script src="/lib/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
