<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="<%= description %>">

  <title><%= title %></title>

  <link href="/lib/css/main.css" rel="stylesheet">
</head>
<body>
  <%- partial('./partials/_nav') %>
  <div class="site-constraint">
    <%- yield %>
  </div>
  <footer class="site-footer site-constraint">
    <p class="text-small">&copy; 2015 Mike Engel</p>
  </footer>
  <script src="https://use.typekit.net/uma3wew.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/lib/js/main.js"></script>
</body>
</html>
