<p class="hidden h3 text-green thanks-message">Thanks for your message&mdash;It&rsquo;s probably already in my inbox. I&rsquo;ll get back to you soon.</p>
<h1 class="page-intro">I&rsquo;m a designer &amp; developer creating pleasant, user driven experiences accessible by everyone and their devices.</h1>
<h2 class="h3" id="projects">Recent projects</h2>
<dl class="projects">
  <span>
    <dt>Geolert</dt>
    <dd>An upcoming iOS app to alert you when you&rsquo;re close to that place you always miss.</dd>
  </span>
  <span>
    <dt><a href="https://datuhealth.github.io/stranger">Stranger</a></dt>
    <dd>A command line tool for catching pesky CSS regressions before they go live.</dd>
  </span>
  <span>
    <dt><a href="https://datuhealth.github.io/isotip">Isotip</a></dt>
    <dd>Intelligent &amp; responsive tooltips written in pure javascript.</dd>
  </span>
  <span>
    <dt><a href="https://datuhealth.github.io/floating-label">FloatingLabel.js</a></dt>
    <dd>Provide context on your forms all the time.</dd>
  </span>
  <span>
    <dt><a href="https://github.com/mike-engel/bkmrkd">bkmrkd</a></dt>
    <dd>Simple self-hosted bookmarking for your travels across the web.</dd>
  </span>
  <span>
    <dt><a href="https://github.com/datuhealth/ampersand-expanding-textarea-view">Ampersand expanding textarea</a></dt>
    <dd>A simple expanding textarea view for your <a href="https://ampersandjs.com">ampersand.js</a> project.</dd>
  </span>
</dl>
<h2 class="h3" id="contact">Contact</h2>
<form class="form contact-form" action="//formspree.io/mike@mike-engel.com" method="POST" role="form">
  <fieldset>
    <input type="hidden" name="_next" aria-hidden="true" value="//mike-engel.com/?thanks=true">
    <input type="hidden" name="_gotcha" aria-hidden="true">
  </fieldset>
  <fieldset>
    <div>
      <label for="email">Your email</label>
      <input id="email" type="email" name="email" placeholder="Your email">
    </div>
    <div>
      <label for="subject">A quick summary</label>
      <input id="subject" type="text" name="_subject" placeholder="A quick summary">
    </div>
    <div>
      <label for="body">Let loose</label>
      <textarea id="body" name="body" placeholder="Let loose"></textarea>
    </div>
    <button class="btn" type="submit">send</button>
  </fieldset>
</form>
