<style>
  .main-nav {
    display: none;
  }

  @media print {
    html,
    body {
      font-size: 16px;
    }

    .site-constraint {
      width: 670px;
    }

    .site-footer {
      display: none;
    }

    .back-button {
      display: none;
    }
  }
</style>
<header class="resume-header">
  <a href="/" class="back-button hidden-link">
    <svg width="33px" height="25px" viewBox="0 0 33 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke-width="2" stroke-linecap="square">
        <path d="M2,12.6066017 L12.6066017,2"></path>
        <path d="M2,12.6066017 L12.6066017,23.2132034"></path>
        <path d="M3,12.6066017 L32,12.6066017"></path>
      </g>
    </svg>
    <span>back</span>
  </a>
  <svg class="logo" width="46px" height="50px" viewBox="0 0 46 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <path d="M0,9.26966292 L0,50 L12,44.9438202 L12,0 L0,9.26966292 Z M46,9.26966292 L46,50 L34,44.9438202 L34,0 L46,9.26966292 Z M12,0 L12,19.1964286 L23,33.59375 L23,14.9619223 L12,0 Z M34,0 L34,19.1964286 L23,33.59375 L23,14.9619223 L34,0 Z"></path>
  </svg>
  <ul class="resume-meta">
    <li>Mike Engel</li>
    <li>mike@mike-engel.com</li>
  </ul>
</header>
<h1 class="h3 resume-summary">I&rsquo;m a designer &amp; developer creating pleasant, user driven experiences accessible by everyone and their devices.</h1>
<h2 class="h3">Experience</h2>
<ul class="resume-experience">
  <li>
    <h3 class="h4">Welltok</h3>
    <p class="text-small">November 2015 &ndash; Current</p>
    <p>Led a small team responsible for creating and maintaining a lightweight, funcational node service. Led initiatives for better documentation, testing. Co-led effort to stabilize, document, and standardize the front end tech stack.</p>
  </li>
  <li>
    <h3 class="h4">Datu Health</h3>
    <p class="text-small">November 2013 &ndash; October 2015</p>
    <p>I worked with both the design and development teams to iteratively create interactive prototypes, along with co-creating and maintaining a front-end library and a prototypes site for publicly viewing and presenting the prototypes.</p>
  </li>
  <li>
    <h3 class="h4">Markit on Demand</h3>
    <p class="text-small">May 2011 &ndash; November 2013</p>
    <p>I worked with international financial and energy companies to create social communities, games, trading platforms, and more.</p>
  </li>
</ul>
<h2 class="h3">Education</h2>
<ul class="resume-education">
  <li>
    <h3 class="h4">Rocky Mountain College of Art &plus; Design</h3>
    <p class="text-small">August 2008 &ndash; August 2011</p>
    <p>Bachelor of Fine Arts, Communications Design</p>
  </li>
</ul>
<h2 class="h3">Skills</h2>
<p>Over the last seven years I&rsquo;ve used and become deeply familiar with HTML, CSS, Javascript (&plus;NodeJS), Docker, Git, the Adobe Creative Suite, and Sketch 3.</p>
<p>At Welltok I built several front end applications using React, Redux, and Sass backed by Node services. I also dove into functional programming and developer tooling. I also strove to improve project documentation and provide good templates for other projects.</p>
<p>At Datu Health I spent my time building web apps with NodeJS, Backbone, and Ampersand.js.</p>
<p>In my spare time I&rsquo;ve created two well received iOS apps written in swift.</p>
